.content {
    display: flex;
    justify-content: space-around;
    .section-main {
        display: flex;
        justify-content: center;
        width: 70%;
        font-size: 1.2em;
        margin-right: -6em;

    }

    .section-aside {
        display: flex;
        flex-direction: column;     
        width: 30%;
        border-left: 2px solid #00008b;
    }

    .posts {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .post {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        background-color: #fff;
        border-radius: 0.8em;
        padding: 1em;

        .author {
            display: flex;
            align-items: center;
            gap: 0.4em;

            img {
                width: 40px;
                border-radius: 100%;
            }
        }

        a {
            align-self: flex-end;
            width: 20%;

            .details-btn {
                padding: 0.5em;
                border: none;
                border-radius: 0.4em;
            }
        }

        a:hover {
            .details-btn {
                background-color: #00008b;
                color: #fff;
            }
        }

    }

    h1 {
        margin-bottom: 1em;
    }
}