<footer class="section-footer">
    <div class="content">
        <div class="legal">
            <ul>
                <a href="#">
                    <li>Terms of Service</li>
                </a>
                <a href="#">
                    <li>Privacy Policy</li>
                </a>
                <a href="#">
                    <li>Community Guidelines</li>
                </a>
                <a href="#">
                    <li>Cookie Policy</li>
                </a>
                <a href="#">
                    <li>Report Abuse or Safety Center</li>
                </a>
            </ul>
        </div>

        <div class="copyright">
            <p>© 2025 TalkSport, Inc.</p>
            <p>All rights reserved</p>
        </div>
    </div>
</footer>