<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talksport Home</title>
    <link rel="icon" type="image/x-icon" href="/assets/logo_text.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/assets/logo.png" alt="logo" class="home-logo-img">
    <h1 class="h1-welcome">Welcome to Talksport</h1>
    <p class="home-description">Share your thoughts on various sports and watch all of the best highlights!</p>
    <button class="get-started-btn">Get Started</button>
    <a href="#" class="already-registered">Already registered?</a>
</body>
</html>