<div class="container">
        <nav class="sidebar">
            <ul>
                <li><img src="/assets/logo_text.png" alt="logo" class="sidebar-logo-img"></li>
                <li><img src="/assets/notifications.png" alt="Notifications Icon" class="nav-icons"><a href="#">Notifications</a></li>
                <li><img src="/assets/profile.png" alt="Profile Icon"  class="nav-icons"><a href="#">Profile</a></li>
                <li><img src="/assets/logout.png" alt="Logout Icon" class="nav-icons" ><a href="#">Logout</a></li>
                <li><a href="#"><button class="post-btn">Post</button></a></li>
            </ul>
        </nav>
        <main class="feed">
  <h1>Explore</h1>
        <a href="/post/details" class="post-link">
            <div class="post">
                <div class="post-header">
                    <img src="assets/profile.png" alt="Profile Picture" class="profile-pic">
                    <span class="username">Username</span>
                </div>
                <p class="post-text">This is a sample post with some text content.</p>
                <img src="https://static.independent.co.uk/2025/03/11/23/31/AP25070743986746.jpeg" alt="Post Image" class="post-image">
                {{!-- Add on the details page 
                <button class="like-btn">
                    <img src="assets/like.png" alt="Like">
                </button>
                --}}
            </div>
            </a>
        </main>
    </div>