
    <img src="/assets/logo.png" alt="logo" class="home-logo-img">
    <h1>Welcome to Talksport</h1>
    <p class="home-description">Share your thoughts on various sports and watch all of the best highlights!</p>
    <a href="/auth/register">
    <button class="welcome-btn">Get Started</button>
    </a>
    <button class="welcome-btn">Continue as guest</button>
    <a href="#" class="already-registered">Already registered?</a>