<header class="section-header">
    <div class="upper">

        <div class="logo">
            <h1>TALK</h1>
        </div>

        <div class="auth-nav">
            <h1>SPORT</h1>
            <ul>
                @if(isLoggedIn()){
                <a routerLink="/home" (click)="logout()">
                    <li>Logout</li>
                </a>
                <a routerLink="/profile">
                    <li>Profile</li>
                </a>
                } @else{
                <a routerLink="/register">
                    <li>Register</li>
                </a>
                <a routerLink="/login">
                    <li>Login</li>
                </a>
                }

            </ul>
        </div>

    </div>

    <div class="bottom">
        <ul>
            <a routerLink="/home">
                <li>Home</li>
            </a>
            <a routerLink="/articles">
                <li>Articles</li>
            </a>
            @if(isLoggedIn()){
            <a routerLink="/post">
                <li>Post</li>
            </a>
            }
        </ul>
    </div>
</header>